{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="d-flex product-list-heading-row">
		<div class="mr-auto p-2 product-list-title">
			{% if currentPage == 'store' %}
			<strong> - Featured Products - </strong>
			{% endif %}
			{% if currentPage == 'categories'%}
			<strong> Product category - {{currentCategory}}</strong>
			{% endif %}
			{% if currentPage == 'search' %}
			<strong> Search result - {{ products|length }} product(s) found</strong>
			{% endif %}
		</div>
		<div  class="p-2" style="display : inline-flex;">
			<div class="sort-by-title"> Sort by: </div>
			<div class="dropdown show">
				<a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{ sorting_by }} </a>

				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					{% if currentPage == 'store' %}
						{% for sort_criteria in sort_criterias %}	 
						<a class="dropdown-item" href="{% url 'storeSort' sort_criteria %}">{{ sort_criteria }}</a>
						{% endfor %}
					{% endif %}
					{% if currentPage == 'categories'%}
						{% for sort_criteria in sort_criterias %}	
						<a class="dropdown-item" href="{% url 'categorySort' key=currentCategory sort_key=sort_criteria %}">{{ sort_criteria }}</a>
						{% endfor %}
					{% endif %}
					{% if currentPage == 'search' %}
						{% for sort_criteria in sort_criterias %}	
						<a class="dropdown-item" href="{% url 'searchSort' key=search_key sort_key=sort_criteria %}">{{ sort_criteria }}</a>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="row" >
		{% for product in products %}
		<div class="col-lg-4">
			<a href="{{product.url}}" target="_blank">
				<div class="product-img-frame">
					<img class="product-img" src="{{product.img_url}}">
				</div>
			</a>
			<div class="box-element product">
				<a href="{{product.url}}" target="_blank">
					<h6 class="product-title-text">
						<strong>{{product.name}}</strong>
					</h6>
				</a>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

				<a class="btn btn-outline-success" href="{{ product.url }}">View</a>
				<h4 style="display: inline-block; float: right; color: green; font-family: 'Open Sans', sans-serif;">
					<strong>${{product.price}}</strong>
				</h4>

			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}
